@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0;
}

.container {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

.main-heading {
	font-size: 60px;
	font-weight: 300;
}

.second-heading {
	font-size: 35px;
	font-weight: 300;
	color: #222626;
}

.third-heading {
	font-size: 30px;
	font-weight: 300;
}

.fourth-heading {
	font-size: 12px;
}

.fiveth-heading {
	font-size: 10px;
}

p {
	font-size: 13px;
	color: #959595;
	line-height: 24px;
}

button {
	cursor: pointer;
}

/*================== grid ====================*/

.row::before, .row::after {
	content:"";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 20px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}

/* ============= header ======================= */

.header .container {
	position: relative;
}

.logo {
	padding: 66px 0;
}

.logo img {
	display: inline;
}

.logo p {
	color: #ffffff;
	font-family: 'Merriweather Sans', sans-serif;
	font-style: italic;
	font-size: 21px;
	font-weight: 400;
	display: inline;
	margin-left: 5px;
	position: absolute;
	top: 58px;
}

.header {
	height: 100vh;
	width: 100%;
	background-image: url("img/Layer_13.png");
	background-size: cover;
	color: #ffffff;
	position: relative;
}

.header p {
	color: #ffffff;
}

.header h1 {
	margin-top: 120px;
}

.container .img-phone img{
	position: absolute;
	width: 170px;
	top: 250px;
	right: 250px;
}

.container .img-phone-shadow img {
	position: absolute;
	top: 698px;
	right: 320px;
	width: 342px;
}

/* ============= start something new ======================= */

.something-new {
	margin-top: 20px;
}

/* ============= boxes ======================= */

.box .col{
	height: 250px;
	font-family: 'Open Sans';
}

.box .third-heading {
	color: #ffffff;
}

.box p {
	color: #ffffff;
}

.box-1{
	background-color: #f5989d;
}

.box-2{
	background-color: #615f7d;
}

.box-3{
	background-image: url("img/Layer_6.png");
	background-size: cover;
}

.box-4{
	background-color: #bd8cbf;
}

.box-5 {
	background-image: url("img/Layer_5.png");
	background-size: cover;
}

.box-6 {
	background-color: #82ca9c;
}

.box-7 {
	background-image: url("img/Layer_14.png");
	background-size: cover;
}

.more {
	cursor: pointer;
}


/* ============= details ======================= */

.details .second-heading {
	padding-top: 20px;
	margin-bottom: 0;
}

.details .fourth-heading {
	color: #67676d;
}
/* ============= more power ======================= */

.power {
	height: 100vh;
	width: 100%;
	background-image: url("img/Layer_8.png");
	background-size: cover;
	color: #ffffff;
	position: relative;
}

.power p {
	color: #ffffff;
	width: 40%;
}

.power .main-heading {
	color: #ffffff;
	padding-top: 200px;
	line-height: 70px;
}

.power .more {
	font-weight: bold;
}

/* ============= resons ======================= */

.resons {
	background-color: #82ca9c;
}

.resons .second-heading, .resons .fourth-heading, .resons p {
	color: #ffffff;
}

/* ============= buy ======================= */

.buy {
	background-color: #f6f7fa;
}

.rectangle-legacy, .rectangle-popular {
	width: 77px;
	height: 24px;
	border-radius: 5px;
	background-color: #e1e1e1;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 22px;
}

.buy button {
	width: 151px;
	height: 47px;
	border-radius: 3px;
	background-color: #82ca9c;
	border: none;
	text-transform: uppercase;
	color: #ffffff;
}

.buy .rectangle-popular {
	background-color: #bd8cbf;
	width: 110px;
}

.systems {
	margin-top: 10px;
}

.windows {
	margin-left: 20px;
}

[class*="buy-"] {
	width: 500px;
	height: 380px;
	margin-top: 103px;
	padding: 47px;
	margin-bottom: 145px;
}
 
.buy-right {
	background-color: #ffffff;
	box-shadow: 0 0 62px rgba(0, 0, 0, 0.05);
}

/* ============= footer ======================= */

.footer {
	background-color: #192431;
}

.footer .container {
	padding-top: 50px;
}

.footer a {
	color: #959595;
	line-height: 24px;
	font-size: 13px;
	text-decoration: none;
}

.check i {
	color: #ffffff;
	font-size: 18px;
}

button.check {
	border-radius: 2px;
	background-color: #82ca9c;
	border: none;
	width: 55px;
	height: 45px;
}

.footer input {
	width: 250px;
	height: 45px;
	border-radius: 2px;
	border: none;
	padding: 0;
	background-color: #ffffff;
	color: #959595;
	font-size: 18px;
	text-indent: 15px;
}

.footer .fourth-heading {
	color: #ffffff;
}

.footer .fiveth-heading {
	color: #57697f;
	font-weight: 200;
}

.footer .col {
	padding-top: 0;
	padding-left: 0;
	padding-right: 60px;
}